<div class="container">
  <h2>Candidates</h2>
  <ul>
    <li *ngFor="let candidate of candidates">
      {{ candidate.candidateName }}-{{candidate.votes}}
      <button (click)="deleteCandidate(candidate)">Delete</button>
    </li>
  </ul>
  <input type="text" [(ngModel)]="newCandidate" placeholder="Add new candidate">
  <button (click)="addCandidate()">Add Candidate</button>

  <h2>Voters</h2>
  <ul>
    <li *ngFor="let voter of voters">
      {{ voter.voterName }} - {{ voter.hasVoted ? 'Voted' : 'Not Voted' }}
      <button (click)="deleteVoter(voter)">Delete</button>
    </li>
  </ul>
  <input type="text" [(ngModel)]="newVoter" placeholder="Add new voter">
  <button (click)="addVoter()">Add Voter</button>

  <h2>Cast Vote</h2>
  <select [(ngModel)]="candi" (change)="cand()">
    <option *ngFor="let candidate of candidates" [value]="candidate.candidateName">{{ candidate.candidateName }}</option>
  </select>
  <select [(ngModel)]="voti" (change)="vote()">
    <option *ngFor="let voter of voters" [value]="voter.voterName">{{ voter.voterName }}</option>
  </select>
  <button (click)="castVote()">Cast Vote</button>
</div>